*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
:root{
    --bg: #000;
    --text: #ffffff;
    --Shapes1: #FB72FF;
    --Shapes2: #60FDF4;
    --Shapes3 :#FFD426;
    --Shapes4:#4CABE1;
    --Shapes5:#62EB9A;
    --hover: #FB72FF;
    --font-family-h: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-family-p:Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width: 5rem;
    height: 3rem;
    margin: 0 50px;
}
nav{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--bg); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.url{
    gap: 4rem; 
    display: flex;
    align-items: center;
    margin-left: 800px;
}
nav a {
      text-decoration: none;
      color: var(--text);
      font-weight: 500;
      transition: color 0.3s;
 }

nav a:hover {
      color: var(--hover); 
}
.Work{
 margin-top: 5rem;
 text-align: center;
 width: 100%;
 height: 40rem;
}
.para{
    margin-left: -21.875rem;
}
.para1, .para2{
    color: var(--text);
    padding: 0.5rem;
}
.para1{
    font-family:var(--font-family-h);
    font-size:2rem;
}
.para2{
    font-family:var(--font-family-p);
      font-size:0.8rem;
      font-weight: 100;
}
.shapes-container {
    position: relative;
    width: 100%;
    height: 31.25rem;
    }
 .triangle {
      position: absolute;
      left: 18.75rem;
      top: 6.25rem;
      width: 0;
      height: 0;
      border-left: 7rem solid transparent;
      border-right: 7rem solid transparent;
      border-bottom: 12rem solid var(--Shapes2); 
      z-index: 1;
    }
 .x-shape {
      position: absolute;
      left: 21.875rem;
      top: 0px;
      z-index: 2;
    }
    .x-shape::before{
      content: "";
      position: absolute;
      left: 50%;
      width: 3.75rem;
      height: 21.875rem;
      background: var(--Shapes1); 
      transform-origin: center;
    }
    .x-shape::after {
         content: "";
         position: absolute;
         left: 32%;
         width: 3.75rem;
         height: 10.625rem;
         background: var(--Shapes1);
         transform-origin: center;
    }
    .x-shape::after {
    transform: translate(-50%, -30%) rotate(-50deg);
    }
    .x-shape::before {
    transform: translate(-50%, -15%) rotate(40deg);
    }
    .plus {
      position: absolute;
      width:  18.75rem;
      height: 18.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 37.5rem;
       transform: rotate(-70deg);
       z-index: 1;
    }
    .plus::before,
    .plus::after {
      content: "";
      position: absolute;
      background: var(--Shapes3); 
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    .plus::before {
      width: 18.75rem;
      height: 3.75rem;
    }
    .plus::after {
      width:  3.75rem;
      height: 18.75rem;
    }
    .circle-plus{
         width: 5rem;
         height: 5rem;
         border-radius: 50%;
         background: #8e9490;
         z-index:2 ;  

    }
    .circle {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
      left:53.125rem;
      top: 17.5rem;
      background: var(--Shapes4); 
    }

    
    .rectangle {
     position: absolute;
     top: 22.5rem;
     width: 6.25rem;
     height: 1.25rem;
     left: 59.375rem;
     background: var(--Shapes5); 
    }
    .line {
      width: 12.5rem;
      height: 1.25rem;
      background: var(--Shapes1); /* وردي */
      position: absolute;
    }
    .line1 {
      left: 75rem;
      top: 6.25rem;
      transform: rotate(15deg);
    }
    .line2 {
      left: 81.25rem;
      top: 11.25rem;
      transform: rotate(-15deg);
    }
    .line3 {
      left: 76.25rem;
      top: 17.5rem;
      transform: rotate(15deg);
    }


  .FAQs {
  position: relative;
  background: var(--bg);
  color: var(--text);
  padding: 5rem 6.25rem;
  height: 40rem;
  font-family: Arial, sans-serif;
  }


  .process-title {
    position: absolute;
    left: 12.5rem;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left center;
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: bold;
    color: #999;
  }
  
  /* الشبكة */
  .process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 12.5rem;
  }
  
  .process-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 28.125rem;
    padding: 1rem;
     border: 1px solid #8e9490;
  }
  
  .process-item h3 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    height: 4rem;
  }
  
  .process-item p {
    font-size: 1rem;
    line-height: 2;
    color: #8e9490;
    flex: 1;
      display: flex;
    justify-content: center;
  }
  
  /* الأشكال */
  .shape {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Discovery – دائرة */
  .circle-shape {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #4CABE1;
  }
  
  /* Strategy – مربع */
  .square-shape {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--Shapes1);
  }
  
  /* Design – دائرة مقسومة + شريط */
  .design-shape {
    position: relative;
    width: 5rem;
    height:5rem;
  }
  .circle-half {
    width: 3.75rem;
    height: 1.875rem;
    position: absolute;
    background: var(--Shapes5);
    border-radius: 5rem 5rem 0 0;
  }
  .circle-half.bottom {
    transform: translateY(-3.75rem);
      left: 0px;
  }
  .circle-half.top {
    transform: rotate(180deg);
  }
  .bar {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--Shapes3);
    border-radius: 50%;
    top: 0px;
  }
  
  /* Build – مثلثات */
  .build-shape .triangle1,.triangle2,.triangle3,.triangle4 {
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 2.187rem solid var(--Shapes4);
  }
  .triangle1{
     transform: rotate(200deg);
     margin-top: 1rem;
  }
  .triangle2{
     transform: rotate(150deg);
     margin-left: 3.125rem;
  }
  .triangle3{
     transform: rotate(150deg);
     margin-left: 5rem;
  }
  .triangle4{
     transform: rotate(170deg);
  }
