*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
:root{
    --bg: #000;
    --text-primary: #ffffff;
    --text-secondary:#8e9490;
    --Shapes1: #FB72FF;
    --Shapes2: #60FDF4;
    --Shapes3 :#FFD426;
    --Shapes4:#4CABE1;
    --Shapes5:#62EB9A;
    --hover: #FB72FF;
    --submit:#0077ff;
    --font-family-h: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-family-p:Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    width: 5rem;
    height: 3rem;
    margin: 0 50px;
}
nav{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--bg); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.url{
    gap: 4rem; 
    display: flex;
    align-items: center;
    margin-left: 800px;
}
nav a {
      text-decoration: none;
      color: var(--text-primary);
      font-weight: 500;
      transition: color 0.3s;
 }

nav a:hover {
      color: var(--hover); 
}
.Work{
 margin-top: 5rem;
 text-align: center;
 width: 100%;
 height: 40rem;
}
.para{
    margin-left: -21.875rem;
}
.para1, .para2{
    color: var(--text-primary);
    padding: 0.5rem;
}
.para1{
    font-family:var(--font-family-h);
    font-size:2rem;
}
.para2{
    font-family:var(--font-family-p);
      font-size:0.8rem;
      font-weight: 100;
}
.shapes-container {
    position: relative;
    width: 100%;
    height: 31.25rem;
    }
 .triangle {
      position: absolute;
      left: 18.75rem;
      top: 6.25rem;
      width: 0;
      height: 0;
      border-left: 7rem solid transparent;
      border-right: 7rem solid transparent;
      border-bottom: 12rem solid var(--Shapes2); 
      z-index: 1;
    }
 .x-shape {
      position: absolute;
      left: 21.875rem;
      top: 0px;
      z-index: 2;
    }
    .x-shape::before{
      content: "";
      position: absolute;
      left: 50%;
      width: 3.75rem;
      height: 21.875rem;
      background: var(--Shapes1); 
      transform-origin: center;
    }
    .x-shape::after {
         content: "";
         position: absolute;
         left: 32%;
         width: 3.75rem;
         height: 10.625rem;
         background: var(--Shapes1);
         transform-origin: center;
    }
    .x-shape::after {
    transform: translate(-50%, -30%) rotate(-50deg);
    }
    .x-shape::before {
    transform: translate(-50%, -15%) rotate(40deg);
    }
    .plus {
      position: absolute;
      width:  18.75rem;
      height: 18.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 37.5rem;
       transform: rotate(-70deg);
       z-index: 1;
    }
    .plus::before,
    .plus::after {
      content: "";
      position: absolute;
      background: var(--Shapes3); 
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
    .plus::before {
      width: 18.75rem;
      height: 3.75rem;
    }
    .plus::after {
      width:  3.75rem;
      height: 18.75rem;
    }
    .circle-plus{
         width: 5rem;
         height: 5rem;
         border-radius: 50%;
         background: var(--text-secondary);
         z-index:2 ;  
    }
    .circle {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
      left:53.125rem;
      top: 17.5rem;
      background: var(--Shapes4); 
    }
    .rectangle {
     position: absolute;
     top: 22.5rem;
     width: 6.25rem;
     height: 1.25rem;
     left: 59.375rem;
     background: var(--Shapes5); 
    }
    .line {
      width: 12.5rem;
      height: 1.25rem;
      background: var(--Shapes1); 
      position: absolute;
    }
    .line1 {
      left: 75rem;
      top: 6.25rem;
      transform: rotate(15deg);
    }
    .line2 {
      left: 81.25rem;
      top: 11.25rem;
      transform: rotate(-15deg);
    }
    .line3 {
      left: 76.25rem;
      top: 17.5rem;
      transform: rotate(15deg);
    }
  .FAQs {
  position: relative;
  background: var(--bg);
  color: var(--text);
  padding: 5rem 6.25rem;
  height: 40rem;
  font-family: Arial, sans-serif;
  }
  .process-title {
    position: absolute;
    left: 18.5rem;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left center;
    font-size: 1rem;
    letter-spacing: 5px;
    font-weight: bold;
    color: var(--text-secondary);
    bottom: 515px;
  }
  .process-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 12.5rem;
  }
  .process-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 28.125rem;
    padding: 1rem;
     border: 1px solid var(--text-secondary);
  }
  .process-item h3 {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    height: 4rem;
  }
  .process-item p {
    font-size: 1rem;
    line-height: 2;
    color: var(--text-secondary);
    flex: 1;
      display: flex;
    justify-content: center;
  }
  .shape {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-shape {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #4CABE1;
  }
  .square-shape {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--Shapes1);
  }
  .design-shape {
    position: relative;
    width: 5rem;
    height:5rem;
  }
  .circle-half {
    width: 3.75rem;
    height: 1.875rem;
    position: absolute;
    background: var(--Shapes5);
    border-radius: 5rem 5rem 0 0;
  }
  .circle-half.bottom {
    transform: translateY(-3.75rem);
      left: 0px;
  }
  .circle-half.top {
    transform: rotate(180deg);
  }
  .bar {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--Shapes3);
    border-radius: 50%;
    top: 0px;
  }
  .build-shape .triangle1,.triangle2,.triangle3,.triangle4 {
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 2.187rem solid var(--Shapes4);
  }
  .triangle1{
     transform: rotate(200deg);
     margin-top: 1rem;
  }
  .triangle2{
     transform: rotate(150deg);
     margin-left: 3.125rem;
  }
  .triangle3{
     transform: rotate(150deg);
     margin-left: 5rem;
  }
  .triangle4{
     transform: rotate(170deg);
  }
 .icon-fags{
  margin-top: 2rem;
 }

.webflow {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .webflow-title{
     writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-size: 1rem;
      letter-spacing: 5px;
      color: var(--text-secondary);
      margin-left: -6rem;
  }
  .webflow-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem;
  }
  .card {
    width: 18rem;
    background-color: var(--bg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .card img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
  }
  .card-content {
    padding: 1rem;
  }
  .card h3 {
    margin: 10px 0;
    font-size: 1.25rem;
    color: var(--text-primary);
  }
  .card p {
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.4;
  }
   .Blog{
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      padding: 6.25rem 3.75rem;
      height: 37.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .Blog-title {
      position: absolute;
      top: 4rem;
      left: 11.5rem;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-size: 1rem;
      letter-spacing: 5px;
      color: var(--text-primary);
      font-weight: 500;
      z-index: 2; 
    }
 .quote-mark {
      position: absolute;
      font-size: 14.37rem;
      font-weight: bold;
      line-height: 1;
      z-index: 2;
    }

    .quote-top {
      top: -9.37rem;
      left: 20.62rem;
      color: var(--Shapes3); 
    }
    .quote-bottom {
      top: -7.5rem;
      left: 17.5rem;
      color: var(--Shapes4); 
    }
    .testimonial-content {
      width: 50rem;
      height: 31.25rem;
      margin-left: 12.5rem; 
      border-bottom: 1px solid var(--text-secondary);
      border-top: 1px solid var(--text-secondary);
      border-left: 1px solid var(--text-secondary);
      padding: 2.5rem;
      position: relative;   
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .arrow {
      font-size: 2rem;
      color: var(--text-primary);
      margin-bottom: 1.25rem;
      margin-left: 12.5rem;
    }
    .testimonial-text {
      width: 25rem;
      font-size: 1rem;
      line-height: 1.7;
      color: var(--text-primary);
      margin-bottom: 2rem;
      margin-left: 12.5rem;
    }
    .testimonial-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
       margin-left: 12.5rem;
    }
    .profile {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .profile img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }
    .profile-info {
      display: flex;
      flex-direction: column;
    }
    .name {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text-primary);
    }
    .role {
      font-size: 1rem;
      color: var(--text-secondary);
    }
    .case-study {
      font-size: 1rem;
      color: var(--text-primary);
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }
    .case-study::after {
      content: "›";
      font-size: 1.2rem;
    }
   .Blog2{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 100px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    align-items: center;
    min-height: 700px;
  }
  .Blog2-title {
    position: absolute;
    top: 60px;
    left: 400px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 14px;
    letter-spacing: 6px;
    color: var(--text-primary);
  }
  .box{
    width: 250px;
    height: 400px;
    background: var(--submit);
    padding: 60px 30px;
    left: 400px;
    position: relative;
    overflow: hidden;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .box h2 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-primary);
    background-color: var(--submit);
  }
  .box p {
    font-size: 16px;
    margin-bottom: 40px;
     color: var(--text-primary);
     background-color: var(--submit);
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--text-primary);
    border-radius: 4px;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
    background-color: var(--submit);
  }
  .btn:hover {
    background: var(--text-primary);
    color: var(--submit);
  }
  .circle1{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    background: var(--Shapes1);
    border-radius: 50%;
    z-index: 3;
  }
  .faqs {
    position: relative;
    z-index: 3;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    right: 170px;
    top: 150px;
    border-radius: 50%;
  }
  .faqs h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--text-primary);
  }
  .faqs p {
    font-size: 10px;
    color: var(--text-secondary);
    border-radius: 50%;
  }
  .faqs a {
    font-size: 14px;
    color: var(--text-primary);
    gap: 6px;
    display: inline-flex;
    align-items: center; 
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease;
  }
  .faqs a::before {
  content: "›";
  font-size: 18px;
  }
  .faqs a:hover {
    border-color: var(--text-primary);
  }
  .half-circle {
    position: absolute;
    bottom: 40px;
    right: 400px;
    width: 300px;
    height: 150px;
    border-top: none;    
    background: var(--Shapes5);
    border-radius: 0 0 400px 400px;
    z-index: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 18.7rem;
}
.container-title{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem;
    letter-spacing: 6px;
    color: var(--text-primary);
    margin-top: -30rem;
}
.content {
    display: flex;
    border-bottom: 1px solid var(--text-primary);
    border-top: 1px solid var(--text-primary);
    border-left: 1px solid var(--text-primary);
    background-color: var(--bg);
    max-width: 1200px;
    width: 100%;
    height: 60vh;
}
.box1-container, .box2-container {
    padding: 1.4rem;
}
.box1-container{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--text-primary);
}
.box1-container h2 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
    color: var(--text-primary);
}
.box1-container p {
    margin-bottom: 1.4rem;
    text-align: center;
     color: var(--text-primary);
}

.box1-container .box1-container-button {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}
.box1-container img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1.4rem;
}
.box2-container {
    width: 65%;
      display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box2-container h2 {
    font-size: 2rem;
    margin-bottom: 1.4rem;
    color:var(--text);
}
.form-group {
    margin-bottom: 1rem;
   width: 16rem;
}
.input-group {
    display: flex;
    justify-content: space-between;
}
.input-group .form-group {
    width: 48%;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="file"] {
    width: 100%;
    padding: 0.6rem;
    margin-top: 5px;
    background-color: var(--bg);
    border: 1px solid var(--text-primary);
    border-radius: 5px;
    color: var(--text-primary);
}
.box2-container .form-group span{
    color: var(--text-primary);
}
.submit-btn {
    background-color: var(--Shapes4);
    color: var(--text-primary);
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
}
.box2-container-section {
    margin-top: 1.4rem;
}
.box2-container-span, .box2-container-p {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1rem;
}
.footer-container{
    text-align: center;
    margin-top: 2.5rem;
}
.footer {
    background-color: var(--bg);
    color: var(--text-primary);
    padding: 40px 20px;
    text-align: center;
}
.footer-container2{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width:75rem;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-links {
    font-size: 0.9rem;
    margin-bottom: 1.4rem;
}
.footer-links a {
    color: var(--text-primary);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 300;
}
.footer-details p {
    font-size: 0.9rem;
    color: var(--text-secondary);
    margin-top: 10px;
}
.footer-social {
    font-size: 2.3rem;
}
.icon {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 62.5rem;
}
.icon span {
    color: var(--text); 
    font-weight: 500;
}